@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutProducts.cshtml";
}

@foreach (var hoa in Model)
{
    <div class="agile_top_brands_grids">
        <div class="col-md-4 top_brand_left">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid_pos">
                        <img src="~/images/offer.png" alt=" " class="img-responsive">
                    </div>
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block">
                                <div class="snipcart-thumb">
                                    <a href="@Url.Action("Single", "FlowerShop", new { id = hoa.MaCD})"><img title=" " alt=" " src="~/images/@hoa.Anhbia"></a>
                                    <p>@hoa.Tenhoa</p>
                                    <h4>@hoa.Giaban VNĐ</h4>
                                </div>
                                <div class="snipcart-details top_brand_home_details">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="business" value=" ">
                                            <input type="hidden" name="item_name" value="@hoa.Tenhoa">
                                            <input type="hidden" name="amount" value="@hoa.Giaban">
                                            <input type="hidden" name="discount_amount" value="0">
                                            <input type="hidden" name="currency_code" value="VND">
                                            <input type="hidden" name="return" value=" ">
                                            <input type="hidden" name="cancel_return" value=" ">
                                            <input type="submit" name="submit" value="Add to cart" class="button">
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

